---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav/Nav";
import HeroText from "../components/Hero/HeroText"
import AboutSection from "../components/AboutSection/AboutSection"
import DetailsSection from "../components/DetailsSection/DetailsSection"
import Newsletter from "../components/Newsletter/Newsletter"
import Footer from "../components/Footer/Footer"
---
<!-- Landing page -->
<Layout title="The Mobile Car Wash">
  <main class="overflow-x-hidden">
    <Nav />
	<HeroText />
	<AboutSection />
	<DetailsSection />
	<Newsletter />
	<Footer />
  </main>
</Layout>

