---
// Typescript type declaration

export interface Props {
	title: string;
}

// title is set by each page title which is passed as props to <layout> </Layout>.
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet"> 
		<title>{title}</title>
	</head>
	<body class="flex flex-col items-center bg-gray-800 text-white overflow-x-hidden">
		<slot />
	</body>
</html>
